* {
    margin: 0;
    padding: 0;
}

blockquote {
    font: italic 18px 'Arial', sans-serif;
    line-height: 32px;
    color: #848484;
    text-align: center;
    width: 860px;
    margin: 0 auto;
    margin-bottom: 10px;
}

cite {
    display: block;
    font: 600 18px/28px "Raleway", sans-serif;
    margin-bottom: 23px;
}

h1 {
    font: 60px/70px 'Pacifico', cursive;
    color: #fff;
    margin-top: 160px;
}

h2 {
    font: 600 22px/31px 'Raleway', sans-serif;
}

input[type=email] {
    font: 18px 'Arial', sans-serif;
    height: 54px;
    width: 280px;
    padding-left: 25px;
    color: #848484;
    border: 1px solid #c8c8c8;
    border-radius: 10px 0 0 10px;
    border-right: none;
    display: block;
    float: left;
}

input[type=submit] {
    border-radius: 0 10px 10px 0;
    height: 56px;
    width: 141px;
    background-color: #2ecc71;
    border: none;
    color: #fff;
    font: 600 22px 'Raleway', sans-serif;
    display: block;
}

ul {
    line-height: 130px;
    width: 540px;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

li a {
    text-decoration: none;
    width: 545px;

}

p, li a {
    font: 16px/29px 'Arial', sans-serif;
    color: #848484;
}

blockquote, cite, #feedback h2, #feedback p {
    text-align: center;
}

.container {
    margin: 0 auto;
    width: 1180px;
}

.top-line {
    background-color: #2ecc71;
    height: 10px;
}

#header {
    background: url("../images/header-bg.jpg") no-repeat;
    background-size: cover; /*fixit*/
    height: 600px;
    background-attachment: fixed;
    overflow: auto;
}

#showcase {
    width: 450px;
    margin-left: 114px;
}

#header span {
    color: #2ecc71;
}

#showcase div:nth-child(2) {
    color: #fff;
    font: 24px/40px 'Arial', sans-serif;
    margin-top: 44px;
    margin-bottom:  17px;
    box-sizing: content-box;
}



/* Application Buttons */
#app {
    width: 195px;
}

#app, #slider, #social-networks, ul {
    display: flex;
    justify-content: space-between;
}

.social-app {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #000;
    opacity: 0.40;
    display: block;
    color: #fff;
    font-size: 24px;
    text-align: center;
    line-height: 55px;
}

.social-app:hover {
    background-color: #2ecc71;
    opacity: 1;
}

#advantages {
    margin-top: 60px;
    height: 275px;
}

#advantages div {
   float: left;
   text-align: center;
   width: 320px;
}

#advantages div:nth-child(2) {
    margin: 0 110px;
}

#advantages img {
    margin-bottom: 20px;
}

#advantages h2 {
    margin-bottom: 16px;
}



/* Email Form */
#newsletter {
    height: 427px;
    background-color: #e3e3e3;
}

#newsletter .container {
    padding-top: 54px;
}

#newsletter p {
    margin: 15px 0 15px;
}

#newsletter .container div:nth-child(1) {
    float: left;
}

#newsletter .container div:nth-child(2) {
    float: right;
}

#newsletter h2, #newsletter p {
    width: 540px;
}



/* Slider */
#slider {
    box-shadow: inset 15px 0 25px -25px #333, inset -15px 0 25px -25px #333; /* fixit */
    height: 50px;
    width: 1150px;
    margin: 0 auto;
}

#slider div {
    background-color: #2ecc71;
}

#slider a:hover {
    opacity: 0.4;
}

#feedback {
    margin-top: 50px;
}

#feedback h2 {
    margin: 50px 0 10px;
    font-size: 24px;
    line-height: 36px;
}

#feedback p {
    margin-bottom: 25px;
}



/* Social Buttons */
#social-networks {
    width: 240px;
    margin: 0 auto 62px;
}

#social-networks .social-app {
    width: 33px;
    height: 33px;
    font-size: 18px;
    line-height: 33px;
}

#footer {
    background-color: #e3e3e3;
    height: 130px;
}