*
{
    margin: 0;
    padding: 0;
}

blockquote
{
    font: italic 18px/32px 'Arial', sans-serif;

    width: 860px;
    margin: 0 auto 13px;

    color: #848484;
}

cite
{
    font: 600 18px/28px 'Raleway', sans-serif;

    display: block;

    margin-bottom: 23px;
}

h1
{
    font: 60px/70px 'Pacifico', cursive;

    margin-top: 160px;

    color: #fff;
}

h2
{
    font: 600 22px/31px 'Raleway', sans-serif;
}

input[type=radio]
{
    display: none;
}

input[type=email]
{
    font: 18px 'Arial', sans-serif;

    display: block;
    float: left;

    width: 280px;
    height: 54px;
    padding-left: 25px;

    color: #848484;
    border: 1px solid #c8c8c8;
    border-right: none;
    border-radius: 10px 0 0 10px;
}

input[type=submit]
{
    font: 600 22px 'Raleway', sans-serif;

    display: block;

    width: 141px;
    height: 56px;

    color: #fff;
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: #2ecc71;
}

ul
{
    line-height: 130px;

    width: 540px;
    margin: 0 auto;
}

li
{
    list-style-type: none;
}

li a
{
    width: 545px;

    text-decoration: none;
}

p,
li a
{
    font: 16px/29px 'Arial', sans-serif;

    color: #848484;
}

blockquote,
cite,
#feedback h2,
#feedback p
{
    text-align: center;
}

.container
{
    width: 1180px;
    margin: 0 auto;
}

.top-line
{
    height: 10px;

    background-color: #2ecc71;
}

#header
{
    overflow: auto;

    height: 600px;

    background: url('../images/header-bg.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#showcase
{
    width: 450px;
    margin-left: 114px;
}

#header span
{
    color: #2ecc71;
}

#showcase div:nth-child(2)
{
    font: 24px/40px 'Arial', sans-serif;

    box-sizing: content-box;
    margin-top: 44px;
    margin-bottom: 17px;

    color: #fff;
}



/* Application Buttons */
#app
{
    width: 195px;
}

#app,
#slider-buttons,
#social-networks,
ul
{
    display: -webkit-box;
    display: flex;

    -webkit-box-pack: justify;
    justify-content: space-between;
}

.social-app
{
    font-size: 24px;
    line-height: 55px;

    display: block;

    width: 55px;
    height: 55px;

    text-align: center;

    opacity: .4;
    color: #fff;
    border-radius: 50%;
    background-color: #000;
}

.social-app:hover
{
    opacity: 1;
    background-color: #2ecc71;
}

#advantages
{
    height: 275px;
    margin-top: 60px;
}

#advantages div
{
    float: left;

    width: 320px;

    text-align: center;
}

#advantages div:nth-child(2)
{
    margin: 0 110px;
}

#advantages img
{
    margin-bottom: 20px;
}

#advantages h2
{
    margin-bottom: 16px;
}



/* Email Form */
#newsletter
{
    height: 427px;

    background-color: #e3e3e3;
}

#newsletter .container
{
    padding-top: 54px;
}

#newsletter p
{
    margin: 15px 0 15px;
}

#newsletter .container div:nth-child(1)
{
    float: left;
}

#newsletter .container div:nth-child(2)
{
    float: right;
}

#newsletter h2,
#newsletter p
{
    width: 540px;
}

#feedback
{
    margin-top: 50px;
}

#feedback h2
{
    font-size: 24px;
    line-height: 36px;

    margin-bottom: 10px;
}

#feedback p
{
    margin-bottom: 25px;
}

/* Slider */
#slider
{
    position: relative;

    overflow: hidden;
}

#slides
{
    position: absolute;

    width: 2100%;
    height: 125px;

    transition: left .4s;
}

input[type=radio]:checked:nth-of-type(1) ~ #slides
{
    left: 0;
}

input[type=radio]:checked:nth-of-type(2) ~ #slides
{
    left: -100%;
}

input[type=radio]:checked:nth-of-type(3) ~ #slides
{
    left: -200%;
}

input[type=radio]:checked:nth-of-type(4) ~ #slides
{
    left: -300%;
}

input[type=radio]:checked:nth-of-type(5) ~ #slides
{
    left: -400%;
}

input[type=radio]:checked:nth-of-type(6) ~ #slides
{
    left: -500%;
}

input[type=radio]:checked:nth-of-type(7) ~ #slides
{
    left: -600%;
}

input[type=radio]:checked:nth-of-type(8) ~ #slides
{
    left: -700%;
}

input[type=radio]:checked:nth-of-type(9) ~ #slides
{
    left: -800%;
}

input[type=radio]:checked:nth-of-type(10) ~ #slides
{
    left: -900%;
}

input[type=radio]:checked:nth-of-type(11) ~ #slides
{
    left: -1000%;
}

input[type=radio]:checked:nth-of-type(12) ~ #slides
{
    left: -1100%;
}

input[type=radio]:checked:nth-of-type(13) ~ #slides
{
    left: -1200%;
}

input[type=radio]:checked:nth-of-type(14) ~ #slides
{
    left: -1300%;
}

input[type=radio]:checked:nth-of-type(15) ~ #slides
{
    left: -1400%;
}

input[type=radio]:checked:nth-of-type(16) ~ #slides
{
    left: -1500%;
}

input[type=radio]:checked:nth-of-type(17) ~ #slides
{
    left: -1600%;
}

input[type=radio]:checked:nth-of-type(18) ~ #slides
{
    left: -1700%;
}

input[type=radio]:checked:nth-of-type(19) ~ #slides
{
    left: -1800%;
}

input[type=radio]:checked:nth-of-type(20) ~ #slides
{
    left: -1900%;
}

input[type=radio]:checked:nth-of-type(21) ~ #slides
{
    left: -2000%;
}

#slides div
{
    float: left;

    width: 1180px;
}

#slider-buttons
{
    width: 1150px;
    margin: 125px auto 0;
    padding-bottom: 50px;
}

#slider-buttons div
{
    width: 50px;
    height: 50px;

    background-color: #2ecc71;
}

#slider-buttons div:first-child label
{
    background-image: url('../images/slider/slider-button-1.jpg');
    box-shadow: inset 45px 0 25px -25px #fff, inset -15px 0 25px -25px #fff;
}

#slider-buttons div:last-child label
{
    background-image: url('../images/slider/slider-button-21.png');
    box-shadow: inset -45px 0 25px -25px #fff, inset -15px 0 25px -25px #fff;
}

#slider-buttons div:first-child label,
#slider-buttons div:last-child label
{
    display: block;

    width: 100%;
    height: 100%;
}

#slider-buttons img:hover,
#slider-buttons div:first-child label:hover,
#slider-buttons div:last-child label:hover
{
    cursor: pointer;
    -webkit-animation: check 1s linear forwards;
            animation: check 1s linear forwards;

    opacity: .4;
}



/* Social Buttons */
#social-networks
{
    width: 240px;
    margin: 0 auto 62px;
}

#social-networks .social-app
{
    font-size: 18px;
    line-height: 33px;

    width: 33px;
    height: 33px;
}

#footer
{
    height: 130px;

    background-color: #e3e3e3;
}

@-webkit-keyframes check
{
    50%
    {
        outline-color: rgba(46, 204, 113, .7);
        box-shadow: 0 0 0 12px rgba(46, 204, 113, .7), 0 0 0 20px rgba(46, 204, 113, .7);
    }

    100%
    {
        outline-color: rgba(46, 204, 113, .7);
        box-shadow: 0 0 0 0 rgba(46, 204, 113, .7), 0 0 0 0 rgba(46, 204, 113, 0);
    }
}

@keyframes check
{
    50%
    {
        outline-color: rgba(46, 204, 113, .7);
        box-shadow: 0 0 0 12px rgba(46, 204, 113, .7), 0 0 0 20px rgba(46, 204, 113, .7);
    }

    100%
    {
        outline-color: rgba(46, 204, 113, .7);
        box-shadow: 0 0 0 0 rgba(46, 204, 113, .7), 0 0 0 0 rgba(46, 204, 113, 0);
    }
}
