* {
    margin: 0;
    padding: 0;
}

h1 {
    font: 60px/70px 'Pacifico', cursive;
    color: #fff;
    margin-top: 160px;
}

h2 {
    font: 22px/31px 'Raleway', sans-serif;
}

p {
    font: 16px/29px 'Arial', sans-serif;
    color: #848484;
}

input[type=email] {
    font: 18px 'Arial', sans-serif;
    height: 54px;
    width: 280px;
    padding-left: 25px;
    color: #848484;
    border: 1px solid #c8c8c8;
    border-radius: 10px 0 0 10px;
    border-right: none;
    display: block;
    float: left;
}

input[type=submit] {
    border-radius: 0 10px 10px 0;
    height: 56px;
    width: 141px;
    background-color: #2ecc71;
    border: none;
    color: #fff;
    font: 600 22px 'Raleway', sans-serif;
    display: block;
}

blockquote {
    font: italic 18px 'Arial', sans-serif;
    line-height: 32px;
    color: #848484;
    text-align: center;
    width: 860px;
}

cite {
    display: block;
    width: 90px;
    font: 600 18px/28px "Raleway" , sans-serif;
}

blockquote, cite {
    margin: 0 auto 30px;
}

a {}

ul {}

.container {
    margin: 0 auto;
    width: 1180px;
}

.top-line {
    background-color: #2ecc71;
    height: 10px;
}

#header {
    background: url("../images/header-bg.jpg") no-repeat;
    background-size: cover; /*fixit*/
    height: 600px;
    background-attachment: fixed;
    overflow: auto;
}

#showcase {
    width: 450px;
    margin-left: 114px;
}

#header span {
    color: #2ecc71;
}

#header div {
    color: #fff;
    font: 24px/42px 'Arial', sans-serif;
    margin-top: 35px;
    box-sizing: content-box;
}

#header a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #000;
    opacity: 0.40;
    display: inline-block;
    margin-right: 15px;
    margin-top: 17px;
    color: #fff;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
}

#header a:hover {
    background-color: #2ecc71;
    opacity: 1;
}

#advantages {
    margin-top: 60px;
    height: 275px;
}

#advantages div {
   float: left;
   text-align: center;
   width: 320px;
}

#advantages div:nth-child(2) {
    margin: 0 110px;
}

#advantages img {
    margin-bottom: 20px;
}

#advantages h2 {
    margin-bottom: 16px;
}

#newsletter {
    height: 427px;
    background-color: #e3e3e3;
}

#newsletter .container {
    padding-top: 54px;
}

#newsletter p {
    margin: 15px 0 15px;
}

#newsletter .container div:nth-child(1) {
    float: left;
}

#newsletter .container div:nth-child(2) {
    float: right;
}

#newsletter h2, #newsletter p {
    width: 540px;
}

#feedback {
    margin-top: 50px;
}

#slider {
    display: flex;
    justify-content: space-between;
    box-shadow: inset 15px 0 25px -25px #333, inset -15px 0 25px -25px #333; /* fixit */
    height: 50px;
    width: 1150px;
    margin: 0 auto;
}

#slider div {
    background-color: #2ecc71;
}

#slider a:hover {
    opacity: 0.4;
}